* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

/************** MIXINES ****************/
body {
  position: relative;
  background-color: inherit;
}

.main-container {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
}

h1 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
}

h2 {
  font-family: "Roboto", serif;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: 700;
}

h4 {
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: 500;
}

h5 {
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 500;
}

h6 {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  z-index: 150;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #F6F6F6;
  animation: fadeOut 1s ease-in-out 3s forwards;
}
.loaderContainer span.logoLoader {
  font-family: "Shrikhand", serif;
  font-size: 65px;
  font-weight: 400;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.35);
}
.loaderContainer .iconesLoader {
  display: flex;
  gap: 65px;
}
.loaderContainer .iconesLoader .iconesLoaderBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: #99E2D0;
  height: 58px;
  width: 58px;
  font-size: 25px;
  animation: scaleBtn 3s forwards;
  animation-delay: calc(var(--index) * 1s);
}
.loaderContainer .iconesLoader .iconesLoaderBtn:nth-child(1) {
  --index: 0;
}
.loaderContainer .iconesLoader .iconesLoaderBtn:nth-child(2) {
  --index: 1;
}
.loaderContainer .iconesLoader .iconesLoaderBtn:nth-child(3) {
  --index: 2;
}
.loaderContainer .iconesLoader .iconesLoaderBtn .fa-solid {
  color: #EAEAEA;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.568);
  transition: all ease-in-out 750ms;
  animation: scaleIcon 3s forwards;
  animation-delay: calc(var(--index) * 1s);
}
.loaderContainer .loaderText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  text-align: center;
  width: 100%;
}
.loaderContainer .loaderText .loaderText--button {
  opacity: 0;
  color: rgba(255, 255, 255, 0.411);
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background-clip: text;
  animation: fadeInOutScale 3s forwards;
  font-size: 22px;
  font-family: "Shrikhand", sans-serif;
  font-weight: 900;
  white-space: nowrap;
}
.loaderContainer .loaderText .loaderText--button1 {
  animation-delay: 0s; /* opacity: 1;  */
}
.loaderContainer .loaderText .loaderText--button2 {
  animation-delay: 1s; /* opacity: 1; */
}
.loaderContainer .loaderText .loaderText--button3 {
  animation-delay: 2s; /* opacity: 1; */
}

@keyframes scaleBtn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    box-shadow: 0px 0px 45px 15px rgba(146, 86, 220, 0.6);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleIcon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
    color: #9356DC;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeInOutScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/***************** HEADER ************************/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  width: 100%;
  height: 63px;
  position: relative;
}
header .go-back {
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
header span.logo {
  font-family: "Shrikhand", serif;
  font-size: 40px;
  font-weight: 400;
}

/************** HOME PAGE LOCATION BANNER ******************/
.location {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.location .location--i {
  font-size: 18px;
  color: #353535;
}
.location #city {
  background: none;
  border-style: none;
  outline: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  width: 135px;
}

#city::placeholder {
  color: #353535;
}

/***************** HOME PAGE PRESENTATION SECTION ****************/
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #F6F6F6;
  padding: 35px;
}
.presentation a.presentation--button {
  position: relative;
  width: 218px;
  height: 50px;
  margin: 20px;
  font-family: "Roboto", serif;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 700ms;
}
.presentation a.presentation--button:hover {
  opacity: 0.7;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}
.presentation h2 {
  text-align: center;
}
.presentation p {
  font-family: "Roboto", serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.presentation br {
  display: none;
}

/*********** HOME PAGE FONCTIONNEMENT SECTION **************/
.informations {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 50px 20px 65px 20px;
}

.informations--cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 14px;
}

.informations--button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 25px;
  width: 100%;
  height: 72px;
  border-style: none;
  border-radius: 20px;
  padding-left: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.informations--button .ellipse {
  position: absolute;
  left: -14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50%;
  color: #F6F6F6;
  background-color: #9356DC;
}
.informations--button .fa-solid {
  font-size: 19px;
  color: #7E7E7E;
  transition-property: color;
  transition-duration: 700ms;
}
.informations--button:hover {
  cursor: pointer;
}
.informations--button:hover > .fa-solid {
  color: #9356DC;
}

/************ HOME PAGE RESTAURANTS SECTION *******************/
#restaurants {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: #F6F6F6;
  padding: 70px 20px 70px 20px;
}
#restaurants --title {
  padding-left: 5px;
}
#restaurants .restaurants--cardsbox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#restaurants .restaurants--cardsbox a {
  width: 100%;
}
#restaurants .restaurants--card {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0;
  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #FFFFFF;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
#restaurants .restaurants--badge {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
}
#restaurants .restaurants--badge > p {
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: 500;
}
#restaurants .restaurants--card-img {
  width: 100%;
  height: 70%;
  background-size: cover;
}
#restaurants .restaurants--card-img_1 {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-position: 50% 50%;
}
#restaurants .restaurants--card-img_2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position: 50% -85%;
}
#restaurants .restaurants--card-img_3 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-position: 50% 80%;
}
#restaurants .restaurants--card-img_4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-position: 50% 80%;
}
#restaurants .restaurants--cardcontent {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30%;
  gap: 5px;
  padding: 0 20px 0 20px;
}
#restaurants .restaurants--cardcontent p {
  font-family: "Roboto", serif;
  font-size: 17px;
  font-weight: 300;
}
#restaurants .restaurants--cardcontent .card-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 5px;
}

/*************** FOOTER ****************/
footer {
  background-color: #353535;
  padding-bottom: 25px;
}
footer .footer-logo {
  display: block;
  padding: 20px 0 20px 0;
  color: #FFFFFF;
  margin-left: 30px;
}
footer .footer--linkcontainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #FFFFFF;
  padding-left: 30px;
}
footer .footer--linkcontainer .separate {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .footer--linkcontainer .footer--link a {
  display: flex;
  gap: 8px;
}
footer .footer--linkcontainer .footer--link_txt {
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 500;
}
footer .footer--linkcontainer .footer--link_i {
  height: 100%;
}

/**** RESTAURANTS PAGE *********/
.restaurants--main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-container {
  width: 100%;
  aspect-ratio: 4/3;
  background-size: cover;
}
.banner-container_restaurant1 {
  background-position: 50% 60%;
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.banner-container_restaurant2 {
  background-position: 50% 60%;
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.banner-container_restaurant3 {
  background-position: 50% 60%;
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.banner-container_restaurant4 {
  background-position: 50% 60%;
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.menu {
  background-color: #F6F6F6;
  width: 100%;
  max-width: 1024px;
  padding: 10px 17px 0 17px;
  position: relative;
}
.menu::before {
  content: "";
  position: absolute;
  top: -49px;
  left: 0;
  right: 0;
  background-color: #F6F6F6;
  width: 100%;
  height: 50px;
  border-radius: 50px 50px 0 0;
}
.menu .menu--title {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
  gap: 20px;
  position: relative;
}

.menu--section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px 0 30px 0;
}
.menu--section_title {
  position: relative;
  font-family: "Roboto", serif;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 6px;
  z-index: 0;
}
.menu--section_title::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  z-index: 1;
}
.menu--section .menu--button {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 69px;
  padding-right: 15px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  cursor: pointer;
  overflow: hidden;
  transition: all 500ms;
}
.menu--section .menu--button:hover {
  padding-right: 60px;
}
.menu--section .menu--button-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu--section .menu--button-content .button--txt {
  font-family: "Roboto", serif;
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu--section .menu--button-content .button--title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu--section .menu--button .price {
  font-family: "Roboto", serif;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
  height: 100%;
  transition: all 750ms;
}
.menu--section .menu--button::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -60px;
  min-width: 59px;
  height: 100%;
  font-family: "Font Awesome 6 Free";
  font-size: 20px;
  content: "\f058";
  font-weight: 900;
  color: #FFFFFF;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  transition: all 750ms;
}
.menu--section .menu--button:hover::after {
  right: 0px;
}

.commander {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  background-color: #F6F6F6;
}
.commander .command--button {
  position: relative;
  width: 218px;
  height: 50px;
  margin: 20px;
  font-family: "Roboto", serif;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 700ms;
}
.commander .command--button:hover {
  opacity: 0.7;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

/************ heart animation *************/
.heart--i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
}
.heart--i .fa-heart {
  position: absolute;
  font-size: 22px;
}
.heart--i .heart-full {
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.heart--i .heart-full:hover {
  opacity: 1;
}

/*********** menu animations ********************/
.menu--button {
  animation: 1.25s linear 0s menuloader;
}

.menu--button2 {
  animation-delay: 250ms;
}

.menu--button3 {
  animation-delay: 500ms;
}

.menu--button4 {
  animation-delay: 750ms;
}

@keyframes menuloader {
  0% {
    margin-bottom: 100%;
    margin-right: 100%;
    opacity: 0;
  }
  100% {
    margin-bottom: 0;
    margin-right: 0;
    opacity: 1;
  }
}
@media (min-width: 600px) {
  #restaurants .restaurants--cardcontent {
    gap: 15px;
  }
}
@media (min-width: 768px) {
  .banner-container {
    aspect-ratio: 16/8;
  }
  .informations .informations--cards {
    flex-direction: row;
  }
  .informations .informations--button {
    gap: 10px;
    padding-left: 15px;
  }
  #restaurants {
    padding: 30px 80px 30px 80px;
  }
  #restaurants .restaurants--cardsbox {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  #restaurants .restaurants--cardsbox a {
    width: 48%;
  }
  #restaurants .restaurants--cardcontent {
    gap: 5px;
  }
  footer {
    padding-bottom: 0;
    padding-top: 35px;
    padding-right: 35px;
  }
  footer .footer--container {
    display: flex;
    flex-direction: row-reverse;
  }
  footer .footer--container .footer-logo {
    margin-left: 33px;
    padding-top: 5px;
  }
  footer .footer--container .footer--linkcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  footer .footer--container .footer--linkcontainer .separate {
    flex-direction: row;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px 0 100px;
  }
  .menu .menu--title {
    justify-content: center;
    padding-right: 0;
  }
}
@media (min-width: 1024px) {
  .banner-container {
    aspect-ratio: 16/5;
  }
  .informations {
    margin: 50px 150px;
  }
  .informations .informations--button {
    gap: 10px;
    padding-left: 15px;
  }
  #restaurants {
    padding: 30px 150px 30px 150px;
  }
  #restaurants .restaurants--cardsbox {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  #restaurants .restaurants--cardsbox a {
    width: 48%;
  }
  footer {
    padding: 45px 100px 15px 0px;
  }
  footer .footer--container {
    gap: 50px;
  }
  footer .footer--container .footer--linkcontainer {
    gap: 45px;
  }
  footer .footer-logo {
    margin-left: 33px;
  }
}
@media (min-width: 1440px) {
  #restaurants .restaurants--cardcontent .card-txt {
    gap: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
