/************** MIXINES ****************/

@mixin center { 
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin box-shadow-bottom {
    -webkit-box-shadow: 0px 2px 4px 0px #00000026; 
    box-shadow: 0px 2px 4px 0px #00000026;
}

@mixin box-shadow-button ($box-shadow) {
    box-shadow: $box-shadow;
}

@mixin gradient-button {
    position: relative;
        width: 218px;
        height: 50px;
        margin: 20px;
        font-family: "Roboto", serif;
        text-decoration: none;
        color: $main-bg-color;
        font-size: 16px;
        font-weight: 500;
        background-image: $presentation--gradient;
        border-radius: 25px;
        @include box-shadow-button (0px 4px 10px 0px #00000040);
        @include center;
        transition: opacity 700ms;
        &:hover { 
            opacity: 0.7;   
            @include box-shadow-button (0px 4px 15px 0px #00000059); 
        }   
}