/************ heart animation *************/

.heart--i {
    @include center;
    width: 22px;
    .fa-heart {
        position: absolute;
        font-size: 22px;
    }
    .heart-full {
    background: linear-gradient(to bottom, #9356DC, #FF79DA );
    background-clip: text;
    color: transparent;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
        &:hover {
            opacity: 1;
        }
    }
}

/*********** menu animations ********************/

.menu--button {
    animation: 2s linear 0.5s menuloader;
}

.menu--button1 {
   animation-delay: 250ms;
}
.menu--button2 {
    animation-delay: 500ms;
}
.menu--button3 {
    animation-delay: 750ms;
}
.menu--button4 {
    animation-delay: 1000ms;
}

@keyframes menuloader {
    0% {
        margin-bottom: 100%;
        margin-right: 100%;
        opacity: 0;
    }
   
    100% {
        margin-bottom: 0;
        margin-right: 0;
        opacity: 1;
    }
    
} 
