* {
    margin: 0;
}

$main-bg-color: #FFFFFF;
$secondary-bg-color: #F6F6F6;
$tertiary-bg-color: #EAEAEA;
$footer-background-color: #353535;

@mixin center { 
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin box-shadow-bottom {
    -webkit-box-shadow: 0px 6px 9px -5px rgba(0,0,0,0.30); 
    box-shadow: 0px 6px 9px -5px rgba(0,0,0,0.30);
}

body {
    box-sizing: border-box;
    background-color: inherit;
}

.main-container {
    width: 100%;
}

header {
   @include center;
   @include box-shadow-bottom;
   width: 100%;
   height: 63px;
    h1 {
        font-family: Shrikhand;
        font-size: 30px;
     }
   position: relative;
   z-index: 3;  
}
 
.location {

    height: 50px;
    @include center;
    background-color: $tertiary-bg-color;
    position: relative;
    z-index: 2;
    @include box-shadow-bottom;
        .location--i {
        font-size: 18px;
        color: $footer-background-color;
    }
        #city {
            background: none;
            border-style: none;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            width: 135px;
            #city:hover {
                border: none;
            } 
    }
}

#city::placeholder {
    color: $footer-background-color;
}